body{
    box-sizing: border-box;
    background-color: #0B2434;
    padding: 20px;
}

main{
    height: 600px;
    width: 600px;
    background-color: #F5F5F5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.container{
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}


.dice-container{
    height: 50px;
    width: 50px;
    display: flex;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
}



.roll-dice{
    height: 50px;
    width: 100px;
    border: 0px;
    border-radius: 5px;
    background-color: #5035FF;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}